option_settings:
  aws:elasticbeanstalk:application:environment:
    MODE: production   # Default mode, change it per environment
    FLASK_RUN_PORT: 3000
    OPENAIP_API_KEY: a1da4f70ceb5dc447ae9939fd8faa607
    OPENAIP_API_URL: https://api.core.openaip.net/api
    SESSION_SECRET: 21b5871fc17c431289f2d5076b1892b4
