container_commands:
  01_collect_static:
    command: "python manage.py collectstatic --noinput"
  02_db_migrate:
    command: "python manage.py db upgrade"

files:
  "/etc/myapp/flask-config.json":
    mode: "000644"
    owner: root
    group: root
    content: |
      {
        "ENV": "production",
        "DEBUG": false
      }
