{% extends "base.html" %}

{% block title %}Airports - SkyPort{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-6">Airports</h1>

{% if info.items %}
<table class="table-auto w-full bg-white shadow-md rounded border-collapse">
    <thead>
        <tr class="text-left bg-gray-700 text-white">
            <th class="px-4 py-2">Name</th>
            <th class="px-4 py-2">ICOA Code</th>
            <th class="px-4 py-2">Country</th>
            <th class="px-4 py-2">Total runways</th>
            <th class="px-4 py-2 "></th>
        </tr>
    </thead>
    <tbody>
        {% for airport in info['items'] %}
        <tr>
            <td class="border px-4 py-2">
                <a href="/airport/{{ airport.id }}" target="_blank" class="text-blue-600 hover:underline">{{
                    airport.name }}</a>
            </td>
            <td class="border px-4 py-2">{{ airport.icaoCode }}</td>
            <td class="border px-4 py-2">
                <img src="https://flagcdn.com/{{ airport.country|lower }}.svg" width="50" alt="{{ airport.country }}"
                    class="h-6">
            </td>
            <td class="border px-4 py-2">{{ airport.total_runways }}</td>
            <td class="border px-4 py-2 text-right">
                {% if airport.icaoCode != '-' %}
                <a href="/airport/{{ airport.icaoCode }}"
                    class="inline-flex items-center justify-center w-10 h-10 text-blue-600 hover:text-blue-800"
                    title="View Airport">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" class="w-6 h-6" fill="currentColor">
                        <path
                            d="M1397 1324q0-87-149-236l-240-240 143-746q0-14-9-23l-112-112q-9-9-23-9-21 0-29 18L753 593 508 348q68-238 68-252 0-14-9-23L503 9q-9-9-23-9-18 0-28 16L297 296 17 451q-17 9-17 28 0 14 9 23l64 65q9 9 23 9 14 0 252-68l68 252L18 1027q-18 8-18 29 0 14 9 23l64 64q9 9 23 9l746-143 240 240q149 149 236 149 32 0 52.5-20.5T1397 1324z" />
                    </svg>
                </a>

                {% endif %}
                <!-- Google Maps Icon -->
                <a href="{{ airport.google_maps_link }}" target="_blank"
                    class="inline-flex items-center justify-center w-10 h-10 text-blue-600 hover:text-blue-800"
                    title="Open in Google Maps">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="w-6 h-6">
                        <path
                            d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
                    </svg>

                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="text-red-600">No airport data available.</p>
{% endif %}


<div class="mt-4 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="flex flex-col items-center">
        <!-- Help text -->
        <span class="text-sm text-gray-700 dark:text-gray-400">
            Showing <span class="font-semibold text-gray-900 dark:text-white">{{ info.from_page }}</span> to <span
                class="font-semibold text-gray-900 dark:text-white">{{ info.to_page }}</span> of <span
                class="font-semibold text-gray-900 dark:text-white">{{ info.total_items }}</span> Entries
        </span>
        <!-- Buttons -->
        <div class="inline-flex mt-2 xs:mt-0">
            <!-- Prev Button -->
            {% if info.current_page > 1 %}
            <a href="?page={{ info.current_page - 1 }}"
                class="flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-gray-800 rounded-s hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                Prev
            </a>
            {% else %}
            <button disabled
                class="flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-gray-400 rounded-s cursor-not-allowed">
                Prev
            </button>
            {% endif %}

            <!-- Current Page Button -->
            <button disabled
                class="flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-gray-800 border-0 border-s border-gray-700 hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                {{ info.current_page }}
            </button>

            <!-- Next Button -->
            {% if info.current_page < info.total_pages %} <a href="?page={{ info.current_page + 1 }}"
                class="flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-gray-800 border-0 border-s border-gray-700 rounded-e hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                Next
                </a>
                {% else %}
                <button disabled
                    class="flex items-center justify-center px-4 h-10 text-base font-medium text-white bg-gray-400 rounded-e cursor-not-allowed">
                    Next
                </button>
                {% endif %}
        </div>
    </div>
</div>


{% endblock %}